{% extends 'base.html' %}
{% block content %}
<section class="lg">
    <div class="container">
        <div class="section-title-area text-end">
            <h2 class="section-title" >Style Guide Title</h3>
            <p class="lead"><span class="fw-bold">Designed by: </span>Sasha C</p>
            <p class="lead"><span class="fw-bold">Last edited: </span>July 14, 2022</p>
        </div>
    </div>
</section>


<section>
    <div class="container mt-20">

        <!-- Color Scheme Section -->
        <div class="row v-top colors-section">
            <div class="col-lg-3 pt-50">
                <h6>Colors</h6>
            </div>
            <div class="col-lg-9 bg-white pt-30 pb-50">

                <div class="color-scheme-row row p-x-20">

                    <div class="col-6 col-md-3 bg-white">
                        <div class="p-20 bg-white">
                            <div class="color-scheme-block" style="background-color:black">
                            </div>
                            <div class="p-y-5">
                                <b>Primary Dark</b><span class="d-block fs-12">#393a3e</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 bg-white">
                        <div class="p-20 bg-white">
                            <div class="color-scheme-block" style="background-color:black">
                            </div>
                            <div class="p-y-5">
                                <b>Primary Dark</b><span class="d-block fs-12">#393a3e</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 bg-white">
                        <div class="p-20 bg-white">
                            <div class="color-scheme-block" style="background-color:black">
                            </div>
                            <div class="p-y-5">
                                <b>Primary Dark</b><span class="d-block fs-12">#393a3e</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 bg-white">
                        <div class="p-20 bg-white">
                            <div class="color-scheme-block" style="background-color:black">
                            </div>
                            <div class="p-y-5">
                                <b>Primary Dark</b><span class="d-block fs-12">#393a3e</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- End of Color Scheme Section -->

        <!-- Typeface Section -->
        <div class="row v-top typeface-section">
            <div class="col-lg-3 pt-60">
                <h6>Primary Typeface</h6>
            </div>
            <div class="col-lg-9 bg-white pt-30 pb-50">
                <div class="row p-x-40">
                    <span class="primary-typeface">Font</span>
                </div>
                <div class="row p-x-40">
                    <div class="col-6 col-md-3 bg-white">
                        <span class="typeface-weight">Aa</span>
                    </div>

                    <div class="col-6 col-md-3 bg-white">
                        <span class="typeface-weight">Aa</span>
                    </div>

                    <div class="col-6 col-md-3 bg-white">
                        <span class="typeface-weight">Aa</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Typeface Section -->


        <!-- Typesetting Section -->
        <div class="row v-top typesetting-section">
            <div class="col-lg-3 pt-60">
                <h6>Typesetting</h6>
            </div>
            <div class="col-lg-9 bg-white pt-50 pb-50">

                <!-- Typesetting Display Row -->
                <div class="row p-x-40 align-items-end ts-h1-row">
                    <div class="col-8">
                        <div class="h1 sg-h1 m-y-0">Display</div>
                    </div>
                    <div class="col-4 h1-color-dots">
                        <div class="row">
                            <div class="color-dot"></div>
                            <div class="color-dot"></div>
                            <div class="color-dot"></div>
                            <div class="color-dot"></div>
                        </div>
                    </div>
                    <div class="row align-items-end ts-descriptions pt-10">
                        <div class="col-8">
                            <div class="fw-light"><b>H1</b> 48px, bold-700</div>
                        </div>
                        <div class="col-4">
                            <div class="fw-light">Splash, Modal Titles</div>
                        </div>
                    </div>
                </div>

                <div class="spacer-50"></div>

                <!-- Typesetting Header Row -->
                <div class="row p-x-40 align-items-end ts-h2-row">
                    <div class="col-8">
                        <div class="h2 sg-h2 m-y-0">Header</div>
                    </div>
                    <div class="col-4 h2-color-dots">
                        <div class="row">
                            <div class="color-dot"></div>
                            <div class="color-dot"></div>
                            <div class="color-dot"></div>
                            <div class="color-dot"></div>
                        </div>
                    </div>
                    <div class="row align-items-end ts-descriptions pt-10">
                        <div class="col-8">
                            <div class="fw-light"><b>H2</b> 40px, bold-700</div>
                        </div>
                        <div class="col-4">
                            <div class="fw-light">Page Titles</div>
                        </div>
                    </div>
                </div>

                <div class="spacer-50"></div>

                <!-- Typesetting Title Row -->
                <div class="row p-x-40 align-items-end ts-h3-row">
                    <div class="col-8">
                        <div class="h3 sg-h3 m-y-0">Title</div>
                    </div>
                    <div class="col-4 h3-color-dots">
                        <div class="row">
                            <div class="color-dot"></div>
                            <div class="color-dot"></div>
                            <div class="color-dot"></div>
                            <div class="color-dot"></div>
                        </div>
                    </div>
                    <div class="row align-items-end ts-descriptions pt-10">
                        <div class="col-8">
                            <div class="fw-light"><b>H3</b> 48px, bold-700</div>
                        </div>
                        <div class="col-4">
                            <div class="fw-light">Titles, Forms, Tabs</div>
                        </div>
                    </div>
                </div>

                <div class="spacer-50"></div>

                <!-- Typesetting Subheader Row -->
                <div class="row p-x-40 align-items-end ts-h4-row">
                    <div class="col-8">
                        <div class="h4 sg-h4 m-y-0">Subheader</div>
                    </div>
                    <div class="col-4 h4-color-dots">
                        <div class="row">
                            <div class="color-dot"></div>
                            <div class="color-dot"></div>
                            <div class="color-dot"></div>
                            <div class="color-dot"></div>
                        </div>
                    </div>
                    <div class="row align-items-end ts-descriptions pt-10">
                        <div class="col-8">
                            <div class="fw-light"><b>H4</b> 48px, bold-700</div>
                        </div>
                        <div class="col-4">
                            <div class="fw-light">Forms, Table Titles, Tabs</div>
                        </div>
                    </div>
                </div>

                <div class="spacer-50"></div>

                <!-- Typesetting Headline Row -->
                <div class="row p-x-40 align-items-end ts-h5-row">
                    <div class="col-8">
                        <div class="h5 sg-h5 m-y-0">Headline</div>
                    </div>
                    <div class="col-4 h5-color-dots">
                        <div class="row">
                            <div class="color-dot"></div>
                            <div class="color-dot"></div>
                            <div class="color-dot"></div>
                            <div class="color-dot"></div>
                        </div>
                    </div>
                    <div class="row align-items-end ts-descriptions pt-10">
                        <div class="col-8">
                            <div class="fw-light"><b>h5</b> 48px, bold-700</div>
                        </div>
                        <div class="col-4">
                            <div class="fw-light">Info Paragraphs</div>
                        </div>
                    </div>
                </div>

                <div class="spacer-50"></div>

                <!-- Typesetting Button Row -->
                <div class="row p-x-40 align-items-end ts-h6-row">
                    <div class="col-8">
                        <div class="h6 sg-h6 m-y-0">Button</div>
                    </div>
                    <div class="col-4 h6-color-dots">
                        <div class="row">
                            <div class="color-dot"></div>
                            <div class="color-dot"></div>
                            <div class="color-dot"></div>
                            <div class="color-dot"></div>
                        </div>
                    </div>
                    <div class="row align-items-end ts-descriptions pt-10">
                        <div class="col-8">
                            <div class="fw-light"><b>H6</b> 48px, bold-700</div>
                        </div>
                        <div class="col-4">
                            <div class="fw-light">Buttons</div>
                        </div>
                    </div>
                </div>

                <div class="spacer-50"></div>

                <!-- Typesetting Body Row -->
                <div class="row p-x-40 align-items-end ts-body-row">
                    <div class="col-8">
                        <div class="sg-body m-y-0">Body</div>
                    </div>
                    <div class="col-4 body-color-dots">
                        <div class="row">
                            <div class="color-dot"></div>
                            <div class="color-dot"></div>
                            <div class="color-dot"></div>
                            <div class="color-dot"></div>
                        </div>
                    </div>
                    <div class="row align-items-end ts-descriptions pt-10">
                        <div class="col-8">
                            <div class="fw-light"><b>P</b> 48px, bold-700</div>
                        </div>
                        <div class="col-4">
                            <div class="fw-light">Body, Station Details</div>
                        </div>
                    </div>
                </div>

                <div class="spacer-50"></div>

                <!-- Typesetting Link Row -->
                <div class="row p-x-40 align-items-end ts-link-row">
                    <div class="col-8">
                        <div class="sg-link m-y-0" style="color: teal;">Inline Link</div>
                    </div>
                    <div class="col-4 link-color-dots">
                        <div class="row">
                            <div class="color-dot"></div>
                            <div class="color-dot"></div>
                            <div class="color-dot"></div>
                            <div class="color-dot"></div>
                        </div>
                    </div>
                    <div class="row align-items-end ts-descriptions pt-10">
                        <div class="col-8">
                            <div class="fw-light"><b>P</b> 48px, bold-700</div>
                        </div>
                        <div class="col-4">
                            <div class="fw-light">Links</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Typesetting Section -->

        <!-- Buttons Section -->
        <div class="row v-top buttons-section">
            <div class="col-lg-3 pt-60 pb-50">
                <h6>Buttons</h6>
            </div>
            <div class="col-lg-9 bg-white pt-30 pb-50">
                <div class="row p-x-40">
                    <!-- Primary Button Main -->
                    <div class="col-5 p-20 bg-white">
                        <div class="sg-dark-btn text-center p-x-10 mb-20" style="background-color:black">
                            <span class="h6">Primary button</span>
                        </div>

                        <!-- Primary Button Pressed State -->
                        <div class="sg-dark-btn sg-btn-pressed text-center p-x-10 mb-20" style="background-color:black">
                            <span class="h6">Pressed State</span>
                        </div>

                        <!-- Primary Button Deactivated State -->
                        <div class="sg-dark-btn sg-btn-deact text-center p-x-10 mb-20" style="background-color:black">
                            <span class="h6">Deactivated State</span>
                        </div>
                    </div>

                    <!-- Secondary Button -->
                    <div class="col-4 p-20 bg-white">
                        <!-- Secondary Button Main State -->
                        <div class="sg-light-btn text-center p-x-10 mb-20" style="background-color:rgb(196, 195, 195)">
                            <span class="h6">Secondary button</span>
                        </div>

                        <!-- Secondary Button Pressed State -->
                        <div class="sg-light-btn sg-btn-pressed text-center p-x-10 mb-20" style="background-color:rgb(196, 195, 195)">
                            <span class="h6">Pressed State</span>
                        </div>
                        
                        <!-- Secondary Button Deactivated State -->
                        <div class="sg-light-btn sg-btn-deact text-center p-x-10 mb-20" style="background-color:rgb(196, 195, 195)">
                            <span class="h6">Deactivated State</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Buttons Section -->

        <!-- Splash Sample Section -->
        <div class="row v-top sample-splash-section">
            <div class="col-lg-3 pt-60">
                <h6>Section Sample:</h6>
                <p class="lead">Splash</p>
            </div>
            <div class="col-lg-9 bg-white pt-30 pb-50">
                <div class="col p-20 bg-white">
                    <div class="promo-box section-sample-box p-x-40 m-x-40">
                       <h1>This Is A Display Header</h1>
                       <h5>This is Headline copy. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores doloremque facere quod, incidunt rerum eveniet culpa quaerat dignissimos consequatur voluptates aperiam totam eaque? Corrupti magnam ex accusamus, officiis eligendi dicta.</h5> 
                        <div class="sg-dark-btn text-center p-x-10 mt-30 mb-20" style="background-color:black">
                            <span class="h6">Primary button</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Splash Sample Section -->

        <!-- Body Sample Section -->
        <div class="row v-top sample-body-section">
            <div class="col-lg-3 pt-60">
                <h6>Section Sample:</h6>
                <p class="lead">Body</p>
            </div>
            <div class="col-lg-9 bg-white pt-30 pb-50">
                <div class="col p-20 bg-white">
                    <div class="promo-box section-sample-box p-x-40 m-x-40">
                        <h4>This Is A Subeader</h4>
                        <p class="ts-body">This is Body copy. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores doloremque facere
                            quod, incidunt rerum eveniet culpa quaerat dignissimos consequatur voluptates aperiam totam eaque? Corrupti
                            magnam ex accusamus, officiis eligendi dicta. Sit totam ipsa laboriosam praesentium alias voluptas harum aliquam, illo, facilis necessitatibus, numquam dolorum quo. <span class="sq-link" style="color: teal;">This is an Inline Link.</span></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Body Sample Section -->

    </div>
</section>

{% endblock %}