{% extends 'base.html' %}
{% block content %}
<section class="lg">
    <div class="section-title-area mb-40">
        <h3 class="section-title">Style Guide Title</h3>
        <h5 class="section-sub-title"><span class="fw-bolder">Designed by: </span>Sasha C</h5>
        <h5 class="section-sub-title"><span class="fw-bolder">Last edited: </span>July 14, 2022</h5>
    </div>

    <div class="row v-center">
        <div class="col-lg-6">
            <h6>Colors</h6>
        </div>

        <div class="col-lg-6">
            <ul>
                <li>
                    
                </li>
            </ul>
        </div>

    </div>
</section>

{% endblock %}