{% extends 'base.html' %}
{% block content %}

<div class="container">

    <div class="row">
        <div class="row">
            <div class="col-md-3 mb-15">
                <input class="form-control form-control-color" type="color" id="primary-dk" name="primary-dk" value="#010326">
                <label class="form-label mt-10 pl-20 lead" for="primary-dk">Primary Dark</label>
                <p class="text-sm pl-20">Hex: #010326</p>
            </div><!-- / column -->
        
            <div class="col-md-3 mb-15">
                <input class="form-control form-control-color" type="color" id="primary-lt" name="primary-lt" value="#F2F2F2">
                <label class="form-label mt-10 pl-20 lead" for="primary-lt">Primary Light</label>
                <p class="text-sm pl-20">Hex: #F2F2F2</p>
            </div><!-- / column -->
        
            <div class="col-md-3 mb-15">
                <input class="form-control form-control-color" type="color" id="accent-1" name="accent-1" value="#94C6F2">
                <label class="form-label mt-10 pl-20 lead" for="accent-1">Accent 1</label>
                <p class="text-sm pl-20">Hex: #94C6F2</p>
            </div><!-- / column -->
        
            <div class="col-md-3 mb-15">
                <input class="form-control form-control-color" type="color" id="accent-2" name="accent-2" value="#F2EEAC">
                <label class="form-label mt-10 pl-20 lead" for="accent-2">Accent 2</label>
                <p class="text-sm pl-20">Hex: #F2EEAC</p>
            </div><!-- / column -->
        </div>

        <form action="POST" class="form-control">
            <div class="row">
                {{ form.hidden_tag() }}
                
                {% for field in form
                if field.widget.input_type != 'hidden' %}
                
                <div class="col-md-3 mb-15">
                    {{ field(class_="form-control form-control-color", type_="color") }}
                    {{ field.label(class_="form-label mt-10 pl-20 lead")}}
                    <p class="text-sm pl-20">Hex: {{ field.data }}</p>
                
                </div><!-- / column -->
                {% endfor %}
            </div>
            
        </form>
        

        
    </div>

</div>


{% endblock %}