{% extends 'base.html' %}
{% block styles %} 
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;800&display=swap">
{% endblock %}

{% block content %}
<section class="lg">
    <div class="container">
        <div class="row">
            <h5>Primary Typeface</h5>
            <p class="lead">
                This is default typeface, a reflection of the overall brand identity.
            </p>
        </div>
        
        <div class="row justify-content-between align-items-end">
            <div class="col-md-5">
                <div class="row">
                    <div class="primary-typeface">Nunito</div>
                </div>
                
            </div>

            <div class="col-md-6">
                <div class="row justify-content-between">
                    <div class="col-6 col-md-3">
                        <span class="typeface-weight">Aa</span>
                        
                    </div>
                
                    <div class="col-6 col-md-3">
                        <span class="typeface-weight">Aa</span>
                    </div>
                
                    <div class="col-6 col-md-3">
                        <span class="typeface-weight">Aa</span>
                    </div>
                </div>
            </div><!-- / column -->
        </div><!-- / row -->
            
    </div>
</section>


{% endblock %}