{% extends 'base.html' %}
{% block content %}


<section class="lg">
    <div class="container">
        <div class="promo-box pl-45 pr-45 mb-0">
            <div class="row">
                <div class="col-md-6 col-md-offset-5">
                    <div class="box-description pl-15 p-y-20">
                        <h3 class="mb-30 fw-bold"><span class="text-primary">Hi</span> {{ user.full_name }}</h3>
                        <p class=""><span class="text-primary">Username:</span> {{ user.username }}</p>
                        <p class="mb-30"><span class="text-primary">Member Since:</span> {{ user.timestamp.strftime("%B %d, %Y") }}</p>

                        
                    </div><!-- / box-description -->
                    
                    <form method="POST" action="/users/{{user.username}}/delete">
                        {{ form.hidden_tag() }}
                        <a href="/logout" class="btn btn-primary pill m-10">Logout</a>
                        <button class="btn btn-danger pill m-10 mx-3">Delete User</button>
                    </form>

                </div><!-- / column -->

                <div class="col-md-6 col-md-offset-5">
                    <div class="box-description pl-15 p-y-20">
                        <div class="row">
                            <div class="col-md mb-30">
                                <div class="row">
                                    <div class="col-md-6 mx-auto text-center">
                                        <i class="fas fa-layer-group fs-40 d-inline-block va-middle m-5 mr-20 text-primary"></i>
                                        <div class="d-inline-block va-middle">
                                            <h4 class="timer mb-0 va-middle" id="count-one" data-to="27" data-speed="1500">{{ style_guides|length }}
                                            </h4>
                                            <p class="mb-0 text-sm text-primary">Style Guides</p>
                                        </div><!-- / d-inline-block -->
                                        <a href="/users/{{ user.username }}/style-guide/new" class="mt-30 btn btn-lg btn-primary pill m-10 ml-0">
                                            <i class="fas fa-plus mr-5"></i>
                                            Make A New Style Guide</a>
                                    </div><!-- / column -->
                                </div>
                                
                            </div><!-- / column -->
                        </div>
                    </div><!-- / box-description -->
                </div><!-- / column -->
            </div><!-- / row -->
        </div><!-- box-w-image -->
    </div><!-- / container -->
</section>

<section class="big">
    <div class="container">
        <ul class="row portfolio list-unstyled mb-0">

            <!-- style guide -->
            {% for style_guide in style_guides %}
            <li class="col-md-4 project">
                <div class="card">
                    <div class="card-body p-y-30 text-center">
                        <div class="wrapper">
                            <div class="accent-1-box" style="background-color: {{style_guide.accent_1_color}}">
                            </div>
                            <div class="accent-2-box text-right pt-10 pr-20" style="background-color: {{style_guide.accent_2_color}}">
                                <a href="/style-guide/{{style_guide.id}}/edit"><i class="fas fa-pencil-alt va-middle text-light"></i></a>
                            </div>
                            <div class="primary-dark-box" style="background-color: {{style_guide.primary_dark_color}}"></div>
                            <div class="primary-light-box" style="background-color: {{style_guide.primary_light_color}}"></div>
                        </div>
                        <a href="/style-guide/{{style_guide.id}}" class="card-title title-link primary-hover fs-20">{{ style_guide.title }}</a>
                        <p class="fs-12 post-meta-small mt-15 mb-0"><i class="far fa-calendar-alt mr-5"></i>{{ style_guide.timestamp.strftime("%B %d, %Y") }}</p>
                    </div><!-- / card-body -->
                </div><!-- / card -->
            </li><!-- / style guide -->
            {% endfor %}
        </ul>
    </div>
</section>


{% endblock %}